@use 'base/variables' as var;
@use 'base/mixins' as mix;

.boletos {
    padding: 5rem 0;
    h3 {
        text-align: center;
        color: var.$blanco;
        margin-bottom: 2rem;
    }
    .contenedor-boletos {
        @include mix.tablet {
            @include mix.grid(2, 5rem);
        }
    }
}

.pase {
    color: black;
    .nombre-pase {
        text-align: center;
        font-size: 2.8rem;
        color: var.$blanco;
    }
    &-header,
    &-footer {
        padding: .5rem;
        p {
            text-align: center;
            color: var.$blanco;
            margin: 0;
        }
    }
    &-header {
        background-color: var.$rosa;
        p {
            text-transform: uppercase;
            font-size: 1.6rem;
        }
    }
    &-body {
        background-color: var.$blanco;
        ul {
            @include mix.resetear-lista;
            li, 
            :nth-child(odd) {
                background-color: var.$blanco;
                padding: 1rem;
                border-bottom: 1px solid #E1E1E1;
            }
        }
    }
    &-footer {
        background-color: var.$morado;
        p {
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}