@use 'base/variables' as var;
@use 'base/mixins' as mix;

.sobre-festival {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
}

.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin-bottom: 2rem;
    }
    .fecha {
        color: var.$rosa;
        font-weight: 700;
    }
}